body {
  box-sizing: border-box;
  padding: 500px;
}

.max-width-wrapper {
  max-width: 80%;
  margin: 0 auto;
}

.grid {
  background-color: darkcyan;
  border: 8px solid hotpink;
  padding: 24px;
  display: grid;
  aspect-ratio: 1/1;
  grid-template-columns: repeat(2, minmax(50px, 1fr));
  grid-template-rows: repeat(2, minmax(50px, 1fr));
  grid-template-areas:
    "top top"
    "left right";
  gap: 20px;
}

.child {
  background-color: darkcyan;
  padding: 20px;
}

.child.first {
  grid-area: top;
  border-bottom: 5px solid hotpink;
}

.child.second {
  grid-area: left;
  border-right: 5px solid hotpink;
}

.child.third {
  grid-area: right;
}
