/* ****************************** CSS RESET ****************************************************** */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* ****************************** CSS RESET ****************************************************** */

/* ******************************* FONTS ********************************************************* */
@font-face {
  font-family: "fraunces";
  src: url(./assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf);
}

@font-face {
  font-family: "manrope";
  src: url(./assets/fonts/manrope/static/Manrope-Regular.ttf);
}
/* ******************************* FONTS ********************************************************* */
/* ***************************** DESKTOP ******************************************************* */
.maxwidth-wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  /* border: 3px solid crimson; */
}

body {
  position: relative;
  border: 5px dotted orangered;
}

.header {
  background-color: #24053e;
  color: white;
  border: 1px solid transparent;
  min-height: 650px;
}

.navigation {
  /* border: 3px solid springgreen; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 165px;
}

.navigation p {
  font-family: "manrope";
  font-weight: 800;
  border-bottom: 3px solid #44ffa1;
}

.title {
  /* border: 3px solid springgreen; */
  margin: 0 auto;
  max-width: 635px;
  min-height: 170px;
  margin-top: 65px;
}

.title h1 {
  text-align: center;
  font-family: "fraunces";
  font-size: 80px;
  line-height: 1;
}

.tailored {
  display: inline-block;
  border-bottom: 3px solid #44ffa1;
}

.learn-more {
  /* border: 3px solid springgreen; */
  width: fit-content;
  margin: 37px auto;
}

.learn-more button {
  font-family: "manrope";
  font-size: 18px;
  padding: 16px 32px;
  background-color: #44ffa1;
  border: none;
}

.hero-image {
  /* border: 3px solid springgreen; */
  position: absolute;
  top: 450px;
  left: 50%;
  width: clamp(520px, 65%, 773px);
  transform: translateX(-50%);
}

.hero-image img {
  /* border: 2px dashed springgreen; */
  width: 100%;
}

.pattern-1 {
  width: 270px;
  position: absolute;
  top: 116px;
  left: -100px;
  border: 2px dashed orchid;
}

.pattern-1 img {
  width: 100%;
}

.pattern-2 {
  border: 2px dashed orchid;
  width: 150px;
  position: absolute;
  top: 315px;
  right: -40px;
}

.pattern-2 img {
  width: 100%;
}

.bullets {
  margin-top: 300px;
  background-color: #fcf8ff;
  border: 3px solid darkblue;
}

.bullet-section {
  border: 3px solid blueviolet;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  height: 280px;
}

.bullet {
  border: 2px dashed red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-wrap: wrap;
  text-align: center;
  color: #24053e;
}

.bullet-number {
  font-family: "fraunces";
  font-size: 26px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 6px 18px;
}

.bullet-title {
  font-family: "fraunces";
  font-size: 32px;
}

.bullet-description {
  font-family: "manrope";
  font-size: 18px;
}

.founder {
  border: 2px solid crimson;
}
